[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "~=22.0"
flake8 = "*"
flake8-bugbear = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
recommonmark = "*"
setuptools = ">=42.0"
Sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
twine = "*"
wheel = "*"
yabs = "*"
nutree = {path = ".",editable = true}
ipykernel = "*"

[packages]
PyYAML = "*"

[requires]
python_version = "3.10"

[pipenv]
# allow_prereleases = true
