[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
fabulist="*"
ipykernel = "*"
mypy = "*"
notebook = "*"
# pandoc = "*" # jupyter nbconvert --to rst
pre-commit = "*"
pydot = "*"
pyright = "*"
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
rdflib = "*"
ruff = "*"
setuptools = ">=42.0"
Sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
twine = "*"
wheel = "*"
yabs = "*"
nutree = {path = ".",editable = true}
benchman = {path = "../benchman",editable = true}

[packages]
typing_extensions = "*"

[requires]
python_version = "3.12"

[pipenv]
