[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = { version = "~=24.3", extras = ["jupyter"] }
isort = "*"
# pylint = "*"
# TODO: remove this line:
# pytest-html = "!=3.2.0" # wait for https://github.com/pytest-dev/pytest-html/pull/583
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
rdflib = "*"
recommonmark = "*"
ruff = "*"
setuptools = ">=42.0"
Sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
twine = "*"
wheel = "*"
yabs = "*"
nutree = {path = ".",editable = true}
ipykernel = "*"
notebook = "*"

[packages]

[requires]
python_version = "3.12"

[pipenv]
# allow_prereleases = true
